
.contenedor-productos{
	margin-right: 6px;
	margin-left: 6px;

}
.contenedor-card{
	padding: 0px;
	height: 305px;
	border-radius: 6px;
	background-color: white;
	margin-bottom: 10px;
}
.contenedorCard{
	padding: 3px;
}
.img{
	height: 300px;
	border:solid orange 4px;
	border-radius: 9px;
	margin-bottom: 10px;
}

.img-card{
	height: 160px;
	padding: 5px;
}