header{
  position: fixed;
  z-index: 1;
  min-width: 100%;
  top: 0px;
  background-color: rgb(245, 232, 161);
  height: 150px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px; 
}
.App-logo{
  display: flex;
  justify-content: start;
  border: solid orange 2px;
}
nav{
  display: flex;
  justify-content: start;
  flex-direction: row;
  background-color: white;
  height: 40px;
  border: solid orange 2px;
}
.contenedor-li{
  display:flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.nav-li{
 min-width: 100px;
 text-align: center;
 cursor: pointer;
 color: orange;
 padding-top: 7px;
 padding-right: 6px;
 min-width: 100px;
 text-align: center;
 cursor: pointer;
}
.nav-li:hover{
  transition:all 0.5s;
  background-color: #fdc152;
  color: white;
  font-size: 20px;
  padding-top:0px;
  padding-bottom: 0px
}
a{text-decoration: none;
  text-align: center;
  color: orange;
  
}
a:hover{
  color: white;
}

.contenedor-categorias{
  display: none;
  position: absolute;
  text-align: left;
  list-style: none;
  text-decoration: none;
  background-color: white;
  min-width: 100px;
  padding-left: 0px;
}

header div div nav ul li:hover > ul {
  transition:all 0.6s;
  display:flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
}
.li-categorias{
  
  text-align: left;
}
.li-categorias:hover{
  background-color: #fdc152;
  font-size: 20px;
}
.Route{
  list-style: none;
}
